<section class="form-section">
  <form [formGroup]="demoForm" novalidate>
    <div class="form-group">
      <label for="first_name">User Name<b>*</b></label>
      <input type="text" id="first_name" formControlName="userName" >
      <ng-error [controlName]="demoForm.controls.userName"></ng-error>
    </div>
    <div class="form-group">
      <label for="password">Password<b>*</b></label>
      <input type="email" id="password" formControlName="password" >
      <ng-error [controlName]="demoForm.controls.password"></ng-error>
    </div>
    <div>
      <button class="btn submit-btn" [disabled]="demoForm.invalid" type="submit">Submit</button>
      <button class="btn cancel-btn" type="reset">Reset</button>
    </div>
  </form>
</section>
